/* Variable CSS en Root para estandarizar propiedades genericas*/
:root {
  --color1: #262c3a;
  --color2: #3c3e44;
  --color3: #ff9800;
  --color32: #e9a33a;
  --color4: #f5f5f5;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--color1);
}

.text-dark {
  color: var(--color1);
}

.bg-dark {
  background-color: var(--color1);
}

.text-secondary {
  color: var(--color2);
}

.bg-secondary {
  background-color: var(--color2);
}

.text-gray {
  color: var(--color4);
}

.bg-gray {
  background-color: var(--color4);
}

.text-warning {
  color: var(--color3);
}

.font2 {
  font-family: "Roboto", sans-serif;
}

ul {
  cursor: pointer;
}

.text-link {
  color: var(--color3);
  text-decoration: none;
}

.text-link:hover {
  color: var(--color32);
}

.page-link {
  background-color: var(--color3);
}

.imgrick {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 79px;
  height: auto;
}